.main {
    min-height: calc(100vh - 218px);
    @include Pad {
        min-height: auto;
    }
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include Pad {
            align-items: center;
            flex-direction: column;
        }
        &[data-con="apply"] {
            img {
                filter: invert(33%) sepia(95%) saturate(640%) hue-rotate(134deg) brightness(60%) contrast(102%);
            }
        }
    }
    &-top {
        display: flex;
        align-items: center;
        font-weight: $font-weight-semibold;
        @include Pad {
            font-size: $h4-font-size;
        }
        img {
            width: 50px;
            @include Pad {
                width: 32px;
            }
        }
    }
}

.link-group {
    border: 1px solid $primary;
    align-items: center;
    min-height: 94px;
    &-text {
        @include over_text(2);
        font-weight: $font-weight-medium;
        font-size: $h5-font-size;
        padding-right: 16px;
        width: 100%;
        @include mobile-lg {
            font-size: $h6-font-size;
        }
    }
    &-list {
        width: 500px;
        justify-content: flex-end;
        @include PC-sm {
            width: 100%;
        }
    }
    &-link {
        border: 1px solid $primary;
        color: $primary;
        background: $gray-100;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        padding: 4px 12px;
        position: relative;
        flex-shrink: 0;
        @include mobile-lg {
            font-size: $h7-font-size;
        }
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            border: 1px solid $white;
            border-radius: 9px;
            transition: all 0.2s ease;
        }
        img {
            width: 20px;
            margin-right: 4px;
            filter: invert(33%) sepia(95%) saturate(640%) hue-rotate(134deg) brightness(60%) contrast(102%);
        }
        &:hover {
            &:after {
                border: 1px solid $primary;
                border-radius: 7px;
            }
        }
    }
}
.step {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &-item {
        width: 100%;
        @include mobile-md {
            width: auto;
        }
    }
    &-item:first-child {
        .step-link {
            &.done {
                &::before {
                    display: none;
                }
            }
        }
    }
    &-item:last-child {
        .step-link {
            &.done {
                .step-txt {
                    color: $primary;
                }
            }
        }
    }
    &-number {
        display: block;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 3px solid $gray-400;
        color: $gray-400;
        font-size: $h5-font-size;
        margin-bottom: 4px;
        font-weight: $font-weight-semibold;
        background: $white;
        position: relative;
        z-index: 10;
        @include Pad {
            width: 28px;
            height: 28px;
            font-size: $h6-font-size;
            border: 2px solid $gray-400;
        }
    }
    &-txt {
        color: $black;
        text-align: center;
        @include Pad {
            font-size: $h9-font-size;
        }
    }
    &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        @include Pad {
            padding: 0 1px;
        }
        &:hover {
            .step-number {
                border: 3px solid $gray-500;
                color: $gray-500;
            }
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            border-bottom: 3px dashed $gray-500;
            right: calc(50% + 20px);
            top: calc(50% - 16px);
            z-index: 1;
            @include Pad {
                width: 100px;
                border-bottom: 2px dashed $gray-500;
                right: calc(50% + 12px);
                top: 14px;
            }
            @include mobile-lg {
                width: 100%;
                min-width: 60px;
            }
        }
        &.done {
            .step-number {
                border: 3px solid $primary;
                background: $primary;
                color: $white;
            }
            &:before {
                border-bottom: 3px solid $primary;
                @include Pad {
                    border-bottom: 2px solid $primary;
                }
            }
        }
        &.active {
            .step-number {
                border: 3px solid $primary;
                color: $primary;
            }
            .step-txt {
                color: $primary;
            }
            &:before {
                border-bottom: 3px dashed $primary;
                @include Pad {
                    border-bottom: 2px dashed $primary;
                }
            }
        }
    }
}
.file-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    border: 1px solid $primary;
    border-radius: 5px;
    &[data-con="list"] {
        border-bottom: 1px solid $primary !important;
        border-radius: 5px 5px 0 0 !important;
    }
    &:hover {
        img {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(500%) contrast(200%);
        }
    }
    & ~ .file-list {
        border-top: none;
        border-radius: 0 0 5px 5px;
    }
}
.file {
    width: 100%;
    background: $white;
}

.theme-box {
    box-shadow: 0 5px 5px $gray-500;
    &-header {
        background: $primary;
        color: $white;
        font-weight: $font-weight-medium;
        font-size: $h5-font-size;
        padding: 4px 24px;
    }
    &-body {
        border: 1px solid $gray-200;
        background: $white;
    }
}
.form-inlin-group {
    display: flex;
    input,
    select {
        @include PC-sm {
            width: auto;
        }
    }
}
.list-message {
    display: flex;
    justify-content: center;
    align-items: center;
    @include Pad {
        flex-direction: column;
    }
    &-img {
        width: 90px;
        @include Pad {
            width: 80px;
        }
    }
    &-txt {
        font-weight: $font-weight-bolder;
        font-size: $h4-font-size;
        @include Pad {
            font-size: $h5-font-size;
        }
    }
}
.multi-btn-group {
    display: flex;
    @include Pad {
        flex-direction: column-reverse;
    }
    &-main {
        display: flex;
        @include Pad {
            width: 100%;
        }
    }
    &-link {
        @include Pad {
            width: 100%;
        }
    }
}
.mobile-inline-100 {
    & > * {
        @include mobile-lg {
            width: 100% !important;
            margin-bottom: 8px;
        }
    }
}
.highlight-card {
    display: flex;
    align-items: center;
    color: $white;
    margin: 0 -48px;
    left: 0;
    top: 32px;
    padding: 16px 48px;
    @include Pad {
        padding: 12px 24px;
        margin: 0 -24px;
    }
    @include mobile-lg {
        padding: 12px 16px;
        margin: 0 -16px;
        font-size: $h7-font-size;
    }
    &-title {
        font-size: $h3-font-size;
        font-weight: $font-weight-bold;
        @include Pad {
            font-size: $h4-font-size;
        }
        @include mobile-lg {
            font-size: $h5-font-size;
        }
    }
}
.status-list {
    &-item {
        border-radius: 8px;
        border: 1px solid $primary;
        display: flex;
        padding: 12px 0;
        position: relative;
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
            &::after {
                display: none;
            }
        }
        &::after {
            content: "";
            background: $secondary;
            width: 1px;
            height: 12px;
            position: absolute;
            left: 90px;
            bottom: -12px;
            @include Pad {
                left: 50%;
            }
        }
        @include Pad {
            flex-direction: column;
            padding: 0 12px;
        }
    }
    &-title {
        font-weight: $font-weight-bold;
        width: 160px;
        border-right: 1px solid $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $h6-font-size;
        flex-shrink: 0;
        padding: 6px 0;
        @include Pad {
            width: 100%;
            border-right: 0;
            border-bottom: 1px solid $primary;
            padding: 10px 0;
        }
    }
    &-txt {
        display: flex;
        width: 100%;
        align-items: center;
        font-size: $h7-font-size;
        padding: 0 16px;
        @include Pad {
            padding: 12px 0;
        }
    }
}
.member-list{
    &-item{
        border-right: 1px solid $base-light;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:last-child{
            border: none;
        }
        @include PC-md{
            align-items: flex-start;
        }
        @include mobile-lg{
            border-bottom: 1px solid $base-light;
            border-right: none !important;
            padding-bottom: 16px;
        }
        &:nth-child(5n){
            border-right: none;
            @include PC-md{
               border-right: 1px solid $base-light; 
            }
            @include PC-sm{
                border-right: none;
            }
            @include Pad{
                border-right: 1px solid $base-light; 
            }
        }
        &:nth-child(3n){
            @include PC-md{
               border-right: none; 
            }
            @include Pad{
                border-right: 1px solid $base-light; 
            }
        }
         &:nth-child(2n){
            @include Pad{
                border-right: none;
            }
        }
    }
    &-title{
        font-size: $h7-font-size;
        letter-spacing: 0;
    }
}
.form-top {
    @include Pad {
        font-size: $h7-font-size;
        input,
        input::placeholder,
        select {
            font-size: $h7-font-size;
        }
    }
}
.link-card-list {
    display: flex;
    flex-wrap: wrap;
    @include Pad {
        display: block;
    }
    &-item {
        padding: 8px;
        width: 25%;
        @include PC {
            width: 33.33%;
        }
        @include PC-sm {
            width: 50%;
        }
        @include Pad {
            width: 100%;
        }
    }
    &-link {
        display: block;
        border-radius: 8px;
        border: 1px solid $primary;
        box-shadow: 0 5px 7px $gray-300;
        background: $white;
        padding: 16px 24px;
        height: 100%;
        &:hover {
            box-shadow: none;
            border: 1px solid $primary;
        }
    }
    &-info {
        display: flex;
        color: $gray-600;
        align-items: flex-start;
        font-size: $h7-font-size;
        img {
            width: 20px;
            margin-right: 4px;
            margin-top: 2px;
        }
    }
    &-title {
        color: $gray-800;
        font-size: $h6-font-size;
        font-weight: $font-weight-semibold;
        margin-bottom: 0;
    }
}
.article-container {
    background: $base-xlight;
    border-radius: 10px;
    &-header {
        display: flex;
        justify-content: flex-end;
        padding: 8px 24px;
        border-bottom: 1px solid $base;
        color: $base;
    }
    &-body {
        padding: 16px 24px;
        font-weight: $font-weight-medium;
        line-height: 1.5;
    }
}
.download-link {
    border: 1px solid $primary;
    border-radius: 8px;
    background: $base;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px 8px 24px;
    line-height: 1.5;
    @include Pad {
        padding: 8px 16px;
    }
    &:hover {
        background: $primary-dark;
    }
    &-badge {
        border-right: 1px solid $gray-300;
        padding-right: 16px;
        margin-right: 16px;
        display: inline-block;
        line-height: 1;
    }
}
.base-link {
    border: 1px solid $primary;
    border-radius: 8px;
    background: $white;
    color: $primary-dark;
    font-weight: $font-weight-semibold;
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 24px;
    line-height: 1.5;
    @include Pad {
        padding: 8px 16px;
    }
    &:hover {
        background: $base-xlight;
    }
    img{
        width: 20px;
    }

}
/*-------影片開始-----------*/

#thevideo {
    width: 70%;
    @include Pad {
        width: 90%;
    }
}
#light,#showpic {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: none;
    background: rgba($black, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2010;
    margin: 0 auto;
    transition: all 0.2s ease;
}

#boxclose {
    cursor: pointer;
    right: 30px;
    top: 30px;
    position: fixed;
    z-index: 1002;
    @include Pad {
        right: 16px;
        top: 16px;
        img {
            width: 24px;
        }
    }
    &:hover {
        opacity: 0.8;
    }
}
.showpic-img {
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    width: 70%;
    max-height: 80vh;
    @include Pad {
        width: 90%;
    }
    img{
        width: 100%;
    }
}
.unit-link {
    position: relative;
    display: block;
    &-title {
        display: block;
        transition: all 0.2s ease;
        overflow: hidden;
        position: absolute;
        font-size: $h5-font-size;
        width: 100%;
        left: 0;
        bottom: 0;
        color: $white;
        border-bottom: 3px solid $primary;
        padding: 11px 24px;
        margin-bottom: 0;
        background: $gray-900; /* Old browsers */
        background: -moz-linear-gradient(left, rgba($black, 0.9) 20%, rgba($black, 0.2) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(
            left,
            rgba($black, 0.9) 20%,
            rgba($black, 0.2) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
            to right,
            rgba($black, 0.9) 20%,
            rgba($black, 0.2) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        @include Pad {
            font-size: $h6-font-size;
            padding: 8px 16px;
        }
        &:before {
            content: " ";
            display: block;
            position: absolute;
            transition: all 0.2s ease;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
        }
        &:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            right: 0;
            bottom: 0;
            border-style: solid;
            border-width: 0 0 35px 35px;
            border-color: transparent transparent $primary transparent;
            @include Pad {
                border-width: 0 0 24px 24px;
            }
        }
    }
    &:hover {
        .unit-link-title {
            color: $black;
            font-weight: $font-weight-bold;
            background: none;
            border-bottom: 3px solid $white;
            &:before {
                left: 0;

                background: $primary; /* Old browsers */
                background: -moz-linear-gradient(left, $primary 20%, rgba($white, 0.3) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(
                    left,
                    $primary 20%,
                    rgba($white, 0.3) 100%
                ); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(
                    to right,
                    $primary 20%,
                    rgba($white, 0.3) 100%
                ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            }
            &:after {
                border-color: transparent transparent $white transparent;
            }
        }
    }
    p {
        position: relative;
        z-index: 100;
    }
}

.multicard {
    background: $base-pale;
    border-radius: 5px;
    &-link {
        display: block;
        padding: 16px;
        background: $gray-800;
        border-bottom: 3px solid $special;
        position: relative;
        border-radius: 5px 5px 0 0;
        &:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            right: 0;
            bottom: 0;
            border-style: solid;
            border-width: 0 0 35px 35px;
            border-color: transparent transparent $special transparent;
            @include Pad {
                border-width: 0 0 24px 24px;
            }
        }
        &:hover {
            background: $gray-900;
            border-bottom: 3px solid $primary;
            &:after {
                border-color: transparent transparent $primary transparent;
            }
        }
    }
    &-img {
        overflow: hidden;
        position: relative;
        border-radius: 5px 5px 0 0;
        margin-bottom: 24px;
        div {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            color: $gray-800;
            background: $base-light;
            font-size: $h7-font-size;
        }
    }
    &-title {
        color: $white;
        font-size: $h6-font-size;
    }
    &-info {
        display: flex;
        color: $base-light;
        font-size: $h8-font-size;
        img {
            width: 14px;
        }
    }
}
.info-card{
    &>div:last-child{
        .info-card-list{
            border-bottom: none;
        }
    }
    &-list{
        display: flex;
    align-items: center;
    @include PC-sm{
        border-bottom: 1px solid $base-dark;
        padding-bottom: 24px;
    }
    }
    &-title{
        font-size: $h5-font-size;
    }
    &-img{
        width: 160px;
        height: 140px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        flex-shrink: 0;
        @include PC-sm{
            width: 150px;
            height: 130px;
        }
        @include mobile-md{
            width: 100px;
            height: 100px;
        }
        img{
            max-width: 200% !important;
            height: 100%; 
        }
    }
}
.top-info {
    display: flex;
    color: $white;
    background: $base-pale;
    font-size: $h7-font-size;
    @include mobile-lg{
        flex-direction: column;
    }
    img {
        width: 16px;
        filter: brightness(500%);
    }
}
.photo-list {
    &-link {
        display: block;
        background: $white;
        border-radius: 8px;
        &:hover {
            .photo-list-img {
                transform: scale(0.98);
            }
        }
    }
    &-img {
        border-radius: 8px;
        transition: all 0.2s ease;
        overflow: hidden;
        height: 210px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mobile-lg {
            height: 150px;
        }
        @include mobile-md {
            height: 130px;
        }
        img {
            width: auto;
            max-width: 200%;
            height: 100%;
        }
    }
}
//相簿開始
.photo-slide {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba($black, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2010;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.show {
        display: flex;
    }
}

.splide {
    width: 80%;
    max-width: 1200px;
    @include Pad{
            width: 90%;
    }
    &-header {
        width: 80%;
        max-width: 1200px;
        max-height: 750px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 12px;
        font-size: $h7-font-size;
        @include Pad{
            width: 90%;
        }
        img{
            width: 16px;
        }
    }
    &-title{
        font-size: $h4-font-size;
        font-weight: $font-weight-bold;
        @include Pad{
            width: 100%;
        }
    }
}
#main-carousel {
    margin-bottom: 12px;
    height: calc(90vh - 200px);
    border-radius: 5px;
    overflow: hidden;
    @include PC{
        max-height: 400px;
    }
    @include Pad{
        height: auto;
        max-height: 350px;
    }
    .splide__track{
        height: 100%;
    }
    .splide__slide{
        height: 100%;
    }
    video{
        width: 100%;
        height: 100%;
    }
}
.splide__slide {
    height: 70vh;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    img {
        height: 100%;
        object-fit: cover;
    }
}
#thumbnail-carousel{
    padding: 0 60px !important;
    @include PC{
        padding: 0 47px !important;
    }
    @include Pad{
        padding: 0 42px !important;
    }
    .splide__slide.is-active {
    border: 3px solid $primary;;
}
.thumbnail-video{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("../images/ic-play.svg") no-repeat center rgba($black, 0.3);
    background-size: 32px;
    &:hover{
        background: url("../images/ic-play.svg") no-repeat center;
        background-size: 32px;
    }
}
}
.splide__slide.is-active {
    opacity: 1;
}

.splide__arrow{
    background: $base !important;
    width: 45px !important;
    height: 100% !important;
    opacity: 1 !important;
    @include PC{
        width: 35px !important;
    }
    @include Pad{
        width: 30px !important;
    }
    &:hover{
        background: $primary-dark !important;
    }
    svg{
        fill: $white !important;
        @include PC{
            width: 14px;
        }
        @include Pad{
            width: 12px;
        }
    }
}
.splide__arrow--next{
    border-radius: 0 10px 10px 0 !important;
    right: 0 !important;
}
.splide__arrow--prev{
    border-radius: 10px 0 0 10px !important;
    left: 0 !important;
}
.table[data-con="rollcall"]{
    thead{
        @include PC-sm{
            display: none;
        }
    }
    tr:nth-child(odd){
        td:first-child{
            background: #375B70;
            
        }
        td:nth-child(4){
            background: #537186;
        }
    }
    tr:nth-child(even){
        td:first-child{
            background: #43677D;
        }
         td:nth-child(4){
            background: #5D7B90;
        }
    }
    td:first-child{
        @include PC-sm{
            background: $base-light !important;
            font-weight: $font-weight-bold;
        }
    }
    td:nth-child(4){
        @include PC-sm{
            flex-direction: column !important;
        }
    }
}
.table-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    @include PC-sm{
        justify-content: flex-start;
    }
    &-item{
        display: flex;
        align-items: center;
        padding: 6px 8px;
        @include PC-sm{
            padding-left: 0;
            padding-right: 24px;
        }
        &::before{
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            background: url("../images/ic-oncall.svg") no-repeat;
            background-size: cover;
            margin-right: 4px;
        }
        &[data-con]{
            &::before{
                content: attr(data-con);
                background: $danger-light;
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 1;
                font-size: $h8-font-size;
            }
        }
    }
}
.accordion{
    thead{
        @include PC-sm{
            display: none;
        }
    }
    tr:last-child{
        @include PC-sm{
            margin-bottom: 0;
        }
    }
}
.combo-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: lighten($color: $base, $amount: 2%);
    &-group{
        &:first-child{
            width: 25%;
            @include PC-sm{
                width: 100%;
            }
        }
        &:last-child{
            width: 75%;
            @include PC-sm{
                width: 100%;
            }
        }
    }
    &-item{
        color: $white;
        text-align: center;
        span{
            display: block;
            padding: 6px 0;
        }
    }
    &-title{
        display: flex;
        align-items: center;
        justify-content: center;
        background: $gray-800;
        padding: 8px 0;
        &::before{
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            background: url("../images/ic-oncall.svg") no-repeat;
            background-size: cover;
            margin-right: 4px;
        }
        &[data-con="none"]{
            &:before{
                display: none !important;
            }
        }
        &[data-con]{
            &::before{
                content: attr(data-con);
                background: $danger-light;
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 1;
                font-size: $h8-font-size;
            }
        }
    }
}
//其他
.text-list {
    &-item {
        display: flex;
        @include mobile-md {
            flex-direction: column;
        }
    }
}
.fs-mobile-h7 {
    @include mobile-md {
        font-size: $h7-font-size;
    }
}